{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% for d in driver %}
            {{ d.id_driver }}
    {% endfor %}
{% endblock %}

{% block content %}

        <div class="boxes">

            <div class="box">
                <div class="driver_card">

                   <div class="img_number">
                            <div class="img">
                                <img src="{%  static data.driver.url_photo %}" alt="{{ data.driver.full_name }}">
                            </div>
                            <div class="driver_number">
                                <p>Водительское удостоверение</p>
                                <span>
                                    <p>
                                        {{data.driver.driver_license_number}}
                                    </p>
                                </span>

                                <p>Дата выдачи: {{data.driver.issue_date}}</p>
                                <p>Срок действия: {{data.driver.expiration_date}}</p>

                            </div>
                   </div>
                    <div class="driver_name">
                        ФИО водителя
                        <span><p>{{ data.driver.full_name }}</p></span>
                    </div>
                    <div class="driver_passport">
                        <p>Паспорт<br></p>
                        <span><p>{{ data.driver.passport_number }}</p></span>
                    </div>
                    <div class="driver_age">
                        <p>Дата рождения</p>
                        <span>
                            <p>
                                {{ data.driver.birth_date }}
                            </p>
                        </span>
                    </div>
                    <div class="driver_phone">
                        <p>Телефон</p>
                        <span>
                            <p>
                                {{ data.driver.phone_number }}
                            </p>
                        </span>
                    </div>
                    <div class="driver_email">
                        <p>Емейл</p>
                        <span>
                            <p>
                                {{ data.driver.email }}
                            </p>
                        </span>
                    </div>
                    <div class="driver_address">
                        <p>Адрес</p>
                        <span>
                            <p>
                                {{ data.driver.address }}
                            </p>
                        </span>
                    </div>



                </div>
            </div>

        </div>

{% endblock %}

