{% extends 'base.html' %}
{% load static %}

{% block title %}Список полисов{% endblock %}

{% block content %}
<div class="boxes">
    {%for order in data.orders %}
        <a href="{% url 'order_url' order.polis_number %}">
        <div class="box">
            <div class="polis">

                <div class="polis_number">
                    Номер полиса
                    <span><p>{{order.polis_number}}</p></span>
                </div>
                <div class="polis_cost">
                    Стоимость
                    <span><p>{{ order.polis_cost }}</p></span>
                </div>
                <div class="polis_data">
                    <p>Срок страхования<br></p>
                    {{ order.polis_start }}
                    <span><p>{{ order.polis_end }}</p></span>
                </div>
                <div class="polis_ts">
                    <p>Транспортное средство:</p>
                    <span>
                        <p>
                            {{ order.polis_ts }}
                        </p>
                    </span>
                </div>
                <div class="polis_number_ts">
                    <p>Гос. номер:</p>
                    <span>
                        <p>
                            {{order.polis_number_ts}}
                        </p>
                    </span>
                </div>
                <p id="drivers">Водители:</p>
                <div class="polis_drivers">
                    <p>
                        {% for driver in order.polis_drivers %}
                            {{ forloop.counter }}. <br>
                        {% endfor %}
                    </p>
                    <span>
                        <p>
                            {% for driver in order.polis_drivers %}
                                {{ index }}{{ driver.name }}<br>
                            {% endfor %}
                        </p>
                    </span>
                </div>
            </div>
        </div>
        </a>
    {% empty %}
    <li>Список пуст</li>
    {% endfor %}
</div>



{% endblock %}