{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% for data in filtered_services %}
            {{ data.driver_id }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% if filtered_services %}
        <div class="boxes">
            {% for data in filtered_services %}
                        <div class="box">
                            <div class="driver_card">

                                <div class="driver_number">
                                    <p>Водительское удостоверение</p>
                                    <span>
                                        <p>
                                            {{data.driver_number}}
                                        </p>
                                    </span>
                                </div>
                                <div class="driver_name">
                                    ФИО водителя
                                    <span><p>{{ data.driver_name }}</p></span>
                                </div>
                                <div class="driver_passport">
                                    <p>Паспорт<br></p>
                                    <span><p>{{ data.driver_passport }}</p></span>
                                </div>
                                <div class="driver_age">
                                    <p>Возраст</p>
                                    <span>
                                        <p>
                                            {{ data.driver_age }}
                                        </p>
                                    </span>
                                </div>


                            </div>
                        </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 style="color: #000">Нет результатов для отображения.</h3>
    {% endif %}
{% endblock %}

